name: Build & Push Docker Images

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check Docker Hub secrets exist
        id: check
        run: |
          if [ -z "${{ secrets.DOCKERHUB_USERNAME }}" ] || [ -z "${{ secrets.DOCKERHUB_TOKEN }}" ]; then
            echo "missing=true" >> $GITHUB_OUTPUT
          else
            echo "missing=false" >> $GITHUB_OUTPUT
          fi

      - name: Stop job if secrets missing
        if: steps.check.outputs.missing == 'true'
        run: |
          echo "⛔ Docker Hub secrets missing — skipping build and push."
          exit 0

      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Backend metadata
        id: meta_backend
        uses: docker/metadata-action@v5
        with:
          images: khawlabusaleh/assessment-backend
          tags: |
            type=raw,value=latest
            type=sha

      - name: Frontend metadata
        id: meta_frontend
        uses: docker/metadata-action@v5
        with:
          images: khawlabusaleh/assessment-frontend
          tags: |
            type=raw,value=latest
            type=sha

      - name: Build & push backend
        uses: docker/build-push-action@v6
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          tags: ${{ steps.meta_backend.outputs.tags }}
          labels: ${{ steps.meta_backend.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Build & push frontend
        uses: docker/build-push-action@v6
        with:
          context: ./frontend
          file: ./frontend/Dockerfile
          push: true
          tags: ${{ steps.meta_frontend.outputs.tags }}
          labels: ${{ steps.meta_frontend.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Output final tags
        run: |
          echo "Backend: ${{ steps.meta_backend.outputs.tags }}"
          echo "Frontend: ${{ steps.meta_frontend.outputs.tags }}"
